# Visual Studio Code
.vscode
paxos_8.code-workspace

# Build
build/
a.out
PaxOS8
PaxOS
Arduino/

# MacOS
.DS_Store
PaxOS8.xcodeproj

# CMake
/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeScripts

# JetBrain
.idea

# PaxOS
storage/apps/message/chats/
storage/apps/contact/contact.txt

# Other
Debug
