.vscode
.DS_Store
paxos_8.code-workspace
a.out
/CMakeFiles/
PaxOS8
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeLists.txt
CMakeScripts
Debug
PaxOS8.xcodeproj
build
.idea
storage/apps/message/chats/
